
body{ overflow-x: hidden; font-size: 16px; }

.autoContent{ max-width: 1300px; margin: auto; padding: 0px 20px;}

.banner{ padding: 50px 0px ; background: #EEEFF2; }

.banner_text{ width: 100%;}

.banner_text h2{ font-size: 3em; line-height: 1em; padding-bottom: 30px;}


.banner_text p{ font-size:1.4em; line-height: 1.5em;  }

























